
*{
    font-family: Montserrat;
    background-color:#252B42;
    
}
.header{
    width:100%;
    display: block;
    
    
}
.inner_header{
    width:1000px;
    height:100%;
    display: block;
    margin: 0 auto;
    
}
.logo{
    height: 100%;
    display: table;
    float: left;
    
}
.logo h1 {
    color:white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.navigation{
    float:right;
    height:100%;
    color: white;

}
.navigation a{
    height: 100%;
    display:table;
    float: left;
    padding:0px 20px

}
