
*{
    font-family: Montserrat;
    background-color:#252B42;
    
    
}
.header{
    width:100%;
    display: block;
    color: white;
    
    
}
.inner_header{
    width:1000px;
    height:100%;
    display: block;
    margin: 0 auto;
    
}
.logo{
    height: 100%;
    display: table;
    float: left;
    
}
.logo h1 {
    color:white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.navigation a li{
    display: table-cell;
    float: left;
    padding-right: 0px;
    vertical-align: middle;

}

.navigation{
    float:center;
    height:100%;
    color: white;

}
.navigation a{
    height: 100%;
    display:table;
    float: left;
    padding:0px 20px

}
.h2{
    color: white;
}
.h3{
    color: white;
    vertical-align: middle;
    float: right;
    display: block;
}
.content{
    color: white;
    vertical-align: middle;
}

